.place-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }
  
  .place-form input,
  .place-form textarea {
    display: block;
    width: 100%;
    font: inherit;
    border: 1px solid #ccc;
    background: #f8f8f8;
    padding: 0.15rem 0.25rem;
    margin-bottom: 1rem;
  }
  
  .place-form input:focus,
  .place-form textarea:focus {
    outline: none;
    background: #ebebeb;
    border-color: #510077;
  }
  
  .form-control {
    margin: 1rem 0;
  }
  
  .form-control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form-actions {
    margin-top: 1.5rem;
    text-align: center;
  }
  
  .form-actions button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #ff0055;
    border-radius: 4px;
    background: #ff0055;
    color: white;
    cursor: pointer;
    margin-right: 1rem;
  }
  
  .form-actions button:hover,
  .form-actions button:active {
    background: #ff4382;
    border-color: #ff4382;
  }
  
  .form-actions button:disabled,
  .form-actions button:hover:disabled,
  .form-actions button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
  }